<h1> This is photos index </h1>

<div class="cards">
<% 20.times do  %>
    <div class="card">
        <img src="https://source.unsplash.com/random" alt="random" >
        <br/>
   
    </div>
<% end%>
</div>