<h1> This is photos index </h1>

<div class="cards">
<% 20.times do  %>
    <div class="card">
        <img src="<%= @photo %>" alt="random" >
        <br/>
        <div><p> <%= @quote %> </p></div>
   
    </div>
<% end%>
</div>